
    * {
      padding: 0;
      margin: 0;
    }
    #app {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: rgb(143, 143, 143);
    }
    #wrapper {
      width: 80vw;
      height: 80vh;
      margin: auto;
      border: 20px solid #0b0b0b;
      position: relative;
      background-image: url('./assets/bricks.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    #character {
      left: 0;
      background-image: url('./assets/character.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    #enemy {
      right: 10%;
      background-image: url('./assets/enemy.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: scaleX(-1);
    }
    #bullet {
      position: absolute;
      background-color: black;
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .common {
      position: absolute;
      top: 50%;
      width: 60px;
      height: 80px;
      z-index: 10;
    }